name: ci

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"

  workflow_dispatch:

jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        id: docker_build_push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false

  build-and-push:
    needs: check-application
    runs-on: ubuntu-latest

    if: GitHub.event_name == 'push'
    steps:
      - name: Prepare
        id: prep
        run: |
          VERSION=${GITHUB_SHA::8}
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF/refs\/tags\//}
          fi
          echo ::set-output name=BUILD_DATE::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          echo ::set-output name=VERSION::${VERSION}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to DockerHub
        # if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Docker meta
      #   id: meta
      #   uses: docker/metadata-action@v3
      #   with:
      #     images: haungi/insta-clone-web
      #     flavor: |
      #       latest=false
      #     tags: |
      #       type=ref,event=tag
      #       type=semver,pattern={{version}}

      - name: Build and push
        id: docker_build_push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: haungi/insta-clone-web:${{ steps.prep.outputs.VERSION }}
          # labels: ${{ steps.meta.outputs.labels }}
